<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2a29;
    background-color: #eaeaea;
}


/* =============================================================================================================================
   Navbar
============================================================================================================================= */
header {
    background-color: #eeeded;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: rgb(57, 57, 57);
    font-size: 18px;
    transition: 0.3s;
    font-style: italic;
}

nav a:hover {
    color: #000000;
    font-size: 23px;
    
}

button {
    justify-content: left;
    align-items: left;
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}


/* =============================================================================================================================
   Tela Inicial
============================================================================================================================= */
.parallax {
    height: 100vh; /* altura da tela */
    
    background-image: url("assets/home.png");

    border-radius: 15px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 100000000000000000000000000000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* efeito parallax */
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax h1 {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0px 50px rgba(255, 255, 255, 100);
    color: white;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    color: #000000;
}

.conteudo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.banner {
    text-align: center;
    margin-bottom: 40px;
}

.secao {
    margin-bottom: 50px;
}

.secao h2 {
    font-size: 50px;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    color: #000000;
    margin-bottom: 20px;
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.secao article {
    margin-bottom: 20px;
}

.secao article h3 {
    margin-bottom: 8px;
}

.oq_skincare img {
    display: flex;
    height: 300px;
}

/* ========================================
   Cards da tela inicial
======================================== */

.cards_camadas-pele {
    display: flex;
}

.card {
    flex: 1;
    display: block;
    margin: 20px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card h3 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-style: italic;
}

.card h4 {
    padding: 15px;
    text-align: center;
}

.card li {
    margin-left: 20px;
}

/* ========================================
   Cards Camadas da pele
======================================== */
.card_epiderme {
    background-color: #f2dcc1;
}

.card_derme {
    background-color: #f0c3c3;
}

.card_hipoderme {
    background-color: #fbeaad;
}
/* ========================================
   Cards da parte de montar a Rotina
======================================== */
.montar_rotina {
    display: flex;
}

.card_mito {
    background-color: #efb4b4;
}

.card_mito li {
    font-weight: bold;
    padding: 2px;
}

.card_verdade {
    background-color: #b4efb4;
   
}

.card_verdade li {
    font-weight: bold;
    padding: 2px
}

/* =============================================================================================================================
   Seções
============================================================================================================================= */
@import url('https://googleapis.com'); /* Fonte bonita que achei no google */

/* ========================================
   Começo da cada seção - Titulo e Imagem
======================================== */
/* Container principal que divide a tela */
.container-split {
    display: flex;
    width: 100vw;       /* Ocupa 100% da largura da tela */
    height: 100vh;      /* Ocupa 100% da altura da tela */
}

/* Configuração do lado esquerdo (Texto) */
.lado-texto {
    flex: 1;            /* Ocupa metade do espaço */
    display: flex;
    flex-direction: column; /* Alinha os textos um embaixo do outro */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
}

.lado-texto h1 {
    color: #232323;
    font-size: 70px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

/* Configuração do lado direito (Imagem) */
.lado-imagem {
    flex: 1;            /* Ocupa a outra metade do espaço */
    overflow: hidden;   /* Garante que a imagem não saia da caixa */
}

/* Faz a imagem preencher o lado dela perfeitamente sem distorcer */
.lado-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Corta e ajusta a imagem de forma inteligente */
    border-radius: 25px;

}



/* ========================================
   Soções dos produtos dentro do site
======================================== */
.wiki-container {
    display: flex;
}

/* Configuração do Menu Lateral (Coluna Esquerda) */
.sidebar {
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.5);
    width: 250px; /* Largura fixa para o menu */
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    position: sticky;
    top: 0; /* Cola o menu bem no topo da tela ao rolar */
    height: max-content;
}

.sidebar a {
    display: block; /* Faz cada link ficar em uma linha nova */
    padding: 10px 0;
    text-decoration: none;
}

/* Configuração do Conteúdo (Coluna Direita) */
.conteudo-principal {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex: 1; /* Ocupa todo o resto do espaço disponível na tela */
    padding: 40px;
    background-color: #ededed;
}

.ativo-secao {
    margin-bottom: 60px; /* Dá um espaço grande entre um ativo e outro */
    scroll-margin-top: 20px; /* Evita que o título do ingrediente fique colado no topo da tela */
}

/* =============================================================================================================================
   Alguns detalhes para cada tela expecifica
============================================================================================================================= */
/* ========================================
   safira - Hidratantes
======================================== */
.safira {
    background-color: #E6F0FA  ;
}

.safira_esquerda {
    background-color: #0F2C59 ;
}

.safira_esquerda a {
    color: white;
}

.safira_direita {
    background-color: #FFFFFF ;
}

/* ========================================
   jasper - Reparadores
======================================== */
.jasper {
    background-color: #FFF9E6 ;
}

.jasper_esquerda {
    background-color: #5C4033;
}

.jasper_esquerda a {
    color: white;
}

.jasper_direita {
    background-color: #FFFFFF;
}

/* ========================================
   peridot - Oleosidade
======================================== */
.peridot {
    background-color: #E8F5E9;
}

.peridot_esquerda {
    background-color: #1B4332;
}

.peridot_esquerda a {
    color: white;
}

.peridot_direita {
    background-color: #FFFFFF;
}

/* ========================================
   rose - Renovadores
======================================== */
.rose {
    background-color: #FFE5EC;
}

.rose_esquerda {
    background-color: #5E3643;
}

.rose_esquerda a {
    color: white;
}

.rose_direita {
    background-color: #FFFFFF;
}

/* ========================================
   topazio - Antixiodantes
======================================== */
.topazio {
    background-color: #E6D5C3;
}

.topazio_esquerda {
    background-color: #3A2312;
}

.topazio_esquerda a {
    color: white;
}

.topazio_direita {
    background-color: #FFFFFF;
}


/* =============================================================================================================================
   Rodapé
============================================================================================================================= */
.rodape {
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

.rodape input {
    padding: 10px;
    margin: 10px 0;
}

.rodape button,
.btn-topo {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 60px;
}

.form-sugestao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.btn-topo {
    display: inline-block;
    margin-top: 20px;
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #2c2a29;
}


/* =============================================================================================================================
   Navbar
============================================================================================================================= */
header {
    background-color: #eeeded;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav {
    display: flex;
    gap: 30px;
}

nav a{
    text-decoration: none;
    color: rgb(57, 57, 57);
    font-size: 18px;
    transition: 0.3s;
    font-style: italic;
}

nav a:hover {
    color: #000000;
    font-size: 23px;
    
}

button {
    justify-content: left;
    align-items: left;
    background-color: #c7c7c7;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
}


/* =============================================================================================================================
   Tela Inicial
============================================================================================================================= */
.parallax {
    height: 100vh; /* altura da tela */
    
    background-image: url("assets/home.png");

    border-radius: 15px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 100000000000000000000000000000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* efeito parallax */
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax h1 {
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0px 50px rgba(255, 255, 255, 100);
    color: white;
    font-size: 50px;
    font-family: 'Cormorant Garamond', serif;
    color: #000000;
}

.conteudo {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
}

.banner {
    text-align: center;
    margin-bottom: 40px;
}

.secao {
    margin-bottom: 50px;
}

.secao h2 {
    font-size: 50px;
    font-style: italic;
    font-family: 'Cormorant Garamond', serif;
    color: #000000;
    margin-bottom: 20px;
    border-bottom: 3px solid #000000;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.secao article {
    margin-bottom: 20px;
}

.secao article h3 {
    margin-bottom: 8px;
}

.evolucao li {
    font-weight: bold;
}

/* ========================================
   Cards da tela inicial
======================================== */

.cards_camadas-pele {
    display: flex;
}

.card {
    flex: 1;
    display: block;
    margin: 20px;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.card h3 {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-style: italic;
}

.card h4 {
    padding: 15px;
    text-align: center;

}

.card li {
    margin-left: 20px;
}

.card_mito {
    background-color: #efb4b4;
}

.card_mito li {
    font-weight: bold;
    padding: 2px;
}

.card_verdade {
    background-color: #b4efb4;
   
}

.card_verdade li {
    font-weight: bold;
    padding: 2px
}

/* =============================================================================================================================
   Seções
============================================================================================================================= */
@import url('https://googleapis.com'); /* Fonte bonita que achei no google */

/* ========================================
   Começo da cada seção - Titulo e Imagem
======================================== */
/* Container principal que divide a tela */
.container-split {
    display: flex;
    width: 100vw;       /* Ocupa 100% da largura da tela */
    height: 100vh;      /* Ocupa 100% da altura da tela */
}

/* Configuração do lado esquerdo (Texto) */
.lado-texto {
    flex: 1;            /* Ocupa metade do espaço */
    display: flex;
    flex-direction: column; /* Alinha os textos um embaixo do outro */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;     /* Centraliza horizontalmente */
}

.lado-texto h1 {
    color: #232323;
    font-size: 70px;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
}

/* Configuração do lado direito (Imagem) */
.lado-imagem {
    flex: 1;            /* Ocupa a outra metade do espaço */
    overflow: hidden;   /* Garante que a imagem não saia da caixa */
}

/* Faz a imagem preencher o lado dela perfeitamente sem distorcer */
.lado-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Corta e ajusta a imagem de forma inteligente */
    border-radius: 25px;

}



/* ========================================
   Soções dos produtos dentro do site
======================================== */
.wiki-container {
    display: flex;
}

/* Configuração do Menu Lateral (Coluna Esquerda) */
.sidebar {
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.5);
    width: 250px; /* Largura fixa para o menu */
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    position: sticky;
    top: 0; /* Cola o menu bem no topo da tela ao rolar */
    height: max-content;
}

.sidebar a {
    display: block; /* Faz cada link ficar em uma linha nova */
    padding: 10px 0;
    text-decoration: none;
}

/* Configuração do Conteúdo (Coluna Direita) */
.conteudo-principal {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    flex: 1; /* Ocupa todo o resto do espaço disponível na tela */
    padding: 40px;
    background-color: #ededed;
}

.ativo-secao {
    margin-bottom: 60px; /* Dá um espaço grande entre um ativo e outro */
    scroll-margin-top: 20px; /* Evita que o título do ingrediente fique colado no topo da tela */
}

/* =============================================================================================================================
   Alguns detalhes para cada tela expecifica
============================================================================================================================= */
/* ========================================
   safira - Hidratantes
======================================== */
.safira {
    background-color: #E6F0FA  ;
}

.safira_esquerda {
    background-color: #0F2C59 ;
}

.safira_esquerda a {
    color: white;
}

.safira_direita {
    background-color: #FFFFFF ;
}

/* ========================================
   jasper - Reparadores
======================================== */
.jasper {
    background-color: #FFF9E6 ;
}

.jasper_esquerda {
    background-color: #5C4033;
}

.jasper_esquerda a {
    color: white;
}

.jasper_direita {
    background-color: #FFFFFF;
}

/* ========================================
   peridot - Oleosidade
======================================== */
.peridot {
    background-color: #E8F5E9;
}

.peridot_esquerda {
    background-color: #1B4332;
}

.peridot_esquerda a {
    color: white;
}

.peridot_direita {
    background-color: #FFFFFF;
}

/* ========================================
   rose - Renovadores
======================================== */
.rose {
    background-color: #FFE5EC;
}

.rose_esquerda {
    background-color: #5E3643;
}

.rose_esquerda a {
    color: white;
}

.rose_direita {
    background-color: #FFFFFF;
}

/* ========================================
   topazio - Antixiodantes
======================================== */
.topazio {
    background-color: #E6D5C3;
}

.topazio_esquerda {
    background-color: #3A2312;
}

.topazio_esquerda a {
    color: white;
}

.topazio_direita {
    background-color: #FFFFFF;
}



/* ========================================
   Rodapé
======================================== */
.rodape {
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

.rodape input {
    padding: 10px;
    margin: 10px 0;
}

.rodape button,
.btn-topo {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 60px;
}

.form-sugestao {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

.btn-topo {
    display: inline-block;
    margin-top: 20px;
}
>>>>>>> 0d63b7cbe52272bd764874dc99c5306748fd4c9d
